Plugins/
Binaries/
DerivedDataCache
Intermediate/
Build
Saved
Cooked
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.pri
*.code-workspace
*.txt
*.pro
Makefile
*.workspace
*.kdev4
*.idea
